@using MyPortfolioSite.Data
@inject TagService tagService
<div>
    @if (Data != null)
    {
        foreach (var item in Data)
        {
            var Text = item.Name;
            var Value = item.Id.ToString();
            bool Checked = false;
            if (SelectedTags.Contains(Value))
            {
                Checked = true;
            }

            @if (IsEditable)
            {
                <input type="checkbox" checked=@Checked
                       @onchange="eventArgs => { CheckboxClicked(Value, eventArgs.Value); }" />
                @Text <br />
            }
            else
            {
                <input type="checkbox" checked=@Checked disabled />
                @Text <br />
            }
        }
    }
</div>

@code {
    // Tag data to display in checkboxes
    [Parameter] public IEnumerable<Tag> Data { get; set; }
    // Contains the list of Tag Ids mapped to selected checkboxs
    [Parameter] public List<string> SelectedTags { get; set; }
    // Determines if the form should contain editable fields
    [Parameter] public bool IsEditable { get; set; }

    //Method to update the selected value on click on checkbox
    public void CheckboxClicked(string selected, object Checked)
    {
        if ((bool)Checked)
        {
            if (!SelectedTags.Contains(selected))
            {
                SelectedTags.Add(selected);
            }
        }
        else
        {
            if (SelectedTags.Contains(selected))
            {
                SelectedTags.Remove(selected);
            }
        }
    }
}
