@page "/admin/blogposts/create"

@using MyPortfolioSite.Data
@inject BlogPostService blogPostService
@inject NavigationManager uriHelper

<h4>Create BlogPost</h4>
<Form ButtonText="Create Blog Post" PostData="@post" IsEditable="@true" 
      SelectedTags="@selectedTagIds" OnValidSubmit="@CreateBlogPost"
      BackUri="admin/blogposts" />

@code {
    BlogPost post = new BlogPost();
    public List<string> selectedTagIds = new List<string>(); 

    async Task CreateBlogPost()
    {
        await blogPostService.InsertBlogPostAsync(post, selectedTagIds);
        uriHelper.NavigateTo("/admin/blogposts");
    }
}
